*{
    margin: 0;
    padding: 0;
}
.landing-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
background: lightgray;
width: 100%;
height: 100vh;
}
.card__container{
   /* flex-direction: row;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
   
   

}
.container_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    height: 200px;
   

}

 .hero{
        height: 400px;
        width: 100vw;
    /*    background: #2980B9;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

       background: lightgray;
         
        }
        .hero__container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 1200px;
          margin: 0 auto;
          height: 200px;
          text-align: center;
          padding: 30px;
         
        
        }
        .hero__heading {
          font: 100px;
          margin-bottom: 24px;
          color: #fff;
        }
  
  
       .style_button{
            height: 70px;
        }
        .services_first{
            color:#fff;
        }
        .services{
            height: 400px;
        } 
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
          margin-bottom: 4px;
          flex-wrap: wrap;

          
            height: 350px;
            width: 220px;
        } 
        .card_body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
           
        } 
        .card_head{
            margin-top: 4px;
            margin-right: 4px;
        }   
.product_container{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    height: 300px;
    background: #fff;
    margin-bottom: 9px;
    overflow-x: scroll;
    overflow-y: hidden;
    direction: rtl;  
  
}
.image_head{
  height: 200px;
}
.image_alex{
  height: 200px;
}
.image_product_1{
  height: 200px;
}
.image{
  height: 200px;
}

