*{
    margin: 0;
    padding: 0;
}
.landing-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card__container{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
   

}
.container_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
  

}
